body {
    padding: 0px;
    margin: 0px;
    background-image: url(https://i.pinimg.com/736x/67/39/ab/6739abfdef5521e64dfaf3856afd95cd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho {
    background-color: rgb(20, 18, 18);
    padding: 1px;
    font-style: none;
    font-family: helvetica;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cabecalho h1 {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.cabecalho p {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.navegation {
    display: flex;
    margin: 0;
    padding: 0;
}

.navegation li {
    list-style: none;
    margin: 0px;
    padding: 2px;
    display: inline;
}

.navegation li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 17px;
}

main {
    padding: 0px;
    margin: 0px;
}

.imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagens img {
    margin: 20px;
    border: 4px solid rgb(0, 0, 0);
    width: 20%;
}

.imagens h2 {
    font-size: 40px;
    font-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

.imagens h3 {
    color: rgb(16, 255, 215);
    font-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}

.agendar input {
    display: flex;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    border-color: white;
    justify-content: center;
    align-items: center;
}

.rodape {
    padding: 100px;
    margin: 0px;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

<!--contatos-->

#teste-texto{
    font-size: 800px;
    color: aliceblue;

}

.info-contacts p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    max-width: 800px;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
    text-align: center;
}

.social-icons img {
    width: 50px;
    height: auto;
    
}

<!--Sobre-->

.conteudo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.s-text h2 {
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: rgb(255, 255, 255);
    display: flex;
}

#descricao p {
    color: rgb(16, 255, 215);
    margin-right: 20px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
}

.conteudo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#img-top-page {
    width: 30%;
    border: 2px solid rgb(0, 0, 0);
    margin: 35px;
}
